.DS_Store

Library/

Temp/

.vs

.vsconfig

.vscode

*.cs

*.sln

*.csproj

obj/Debug/

Assets/Photon/PhotonUtilities/PackObject/CodeGen/Editor/Resources/TypeCatalogue.asset

Logs/
