Temp/UnityLockfile

.vs/ScrumlordsGame/xs/project-cache/

.DS_Store

Library/APIUpdater/

Library/Artifacts/00/

Library/Artifacts/02/

Library/

Temp/

.vs/ScrumlordsGame/xs/

.vsconfig

*.cs

*.sln

*.csproj

obj/Debug/

Assets/Photon/PhotonUtilities/PackObject/CodeGen/Editor/Resources/TypeCatalogue.asset
