.DS_Store

Library/APIUpdater/

Library/Artifacts/00/

Library/Artifacts/02/

Library/

Temp/

.vs

.vsconfig

.vscode

*.cs

*.sln

*.csproj

obj/Debug/

Assets/Photon/PhotonUtilities/PackObject/CodeGen/Editor/Resources/TypeCatalogue.asset
